{% extends 'baza.html' %}

{% block title %}
    О нас
{% endblock %}



{% block body %}
    <div class="container">
<h1>О нас</h1>
    ТОВ «Ісопак» виготовляє гофрокартон в Україні. Спеціалізується на виробництві двошарового, трьохшарового і п’ятишарового гофрокартону, мікрогофрокартону, гофрокоробів та всіляких комплектуючих до них.

На нашому виробництві встановлена новітня лінія для виготовлення гофрокартону. Вона відповідає всім міжнародним екологічним стандартам і вимогам. Гофрокартонна тара в Україні, яку виготовляє ТОВ «Ісопак», володіє надійністю, міцністю і практичністю для використання з будь-яким видом товару.

Наша картонна упаковка в Україні найрізноманітніших форм і типорозмірів для потреб харчової, сільськогосподарської, хімічної та інших видів промисловості.

Менеджери ТОВ «Ісопак» готові розробити для вас макет короби з гофрокартону з урахуванням ваших індивідуальних побажань і потреб.
    </div>

{% endblock %}